#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#mySidebar {transition: 0.5s}
.sidebarWidth {min-width: 320px}

@media (min-width: 720px) {
  .sidebarWidth {max-width: 320px}
}

.bg-header {background-color: #2c3e50 !important;}
.bg-bluegray-50 {background-color: #f7f9f9 !important;}
.bg-bluegray-400 {background-color: #7e96a1 !important;}
.bg-bluegray-600 {background-color: #526a76 !important;}
.bg-dark-light {background-color: #1c1a1a !important;}
.bg-dark-strong {background-color: #1a1616 !important;}
.bg-dark-middle {background-color: #2e2b2b !important;}
.bg-gray-200 {background-color: var(--gray-200) !important;}
.text-light-black {color: #404040 !important;}
.min-h-screen {min-height: 100vh;}
.f-basis-0 {flex-basis: 0;}
.f-equal {flex: 1 1 0;}
.full-height {min-height: 100%;}
.my-link:hover {background-color: #f7f8f9;}
.featurette-divider {margin: 5rem 0;}
.bottom-padding-large {padding-bottom: 5rem !important;}

.p-card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 300px;
}

.p-card-content {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 60px;
}

.my-li-item {
  padding: 0 !important;
  border: 0 !important;
  display: grid !important;
  background-color: var(--bluegray-600) !important;
}

.my-li {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  text-align: inherit;
}

.my-li-text {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
  text-align: left !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
