#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.p-card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 300px;
}

.p-card-content {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 60px;
}