<h2>Welcome to ownportal <%= @user.email %>!</h2>
<p>Thank you for signing up.</p>
<p>Please verify your email address by clicking the following link:</p>
<a href="<%= @link %>" target="_blank">Confirm my account</a>
<br>
<p>
If you are having any issues with your account, please don't hesitate to contact us by replying to this mail.
</p>

<p>Thanks!</p>
<p>ownportal team</p>
